.contact-page {
    width: 100%;
    padding-bottom: 0px;

    .list-group-item {
        border: none;
    }

    .maps iframe{
        width: 100%;
        min-height: 375px;
    }

    @media (min-width: 992px) {
        min-height: 375px;
        // padding-top: 0;
        // padding-bottom: 0;
    }
}
